body {
  background-color: #151826;
  color: white;
  font-family: 'Raleway', sans-serif;;
  font-size: 16px;
  line-height: 18px;
  margin: 33px;
}

p, ol, ul, td {
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

th {
  padding: 30px;
  width: 500px;
}


td {
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  border-top: solid;
}

tr :nth-child(4),
tr :nth-child(5) {
  border-top: none;
  border-bottom: none;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1{
  text-align: center;
  color: #FF8A66;
  font-size: 40px;
}

table{
  margin-right: auto;
  margin-top: 60px;
  padding: 50px;
  border-radius: 30px;
}

.tableau{
  width: 100%;
  margin: auto;
}

.create{
  margin: auto;
  border-radius: 20%;

}

.login{
  margin: auto;
}

a{
  display: block;
  border: 2px solid;
  border-color: white;
  border-radius: 80px;
  background-color: #FF8A66;
  color: white;
  width: 80px;
  text-align: center;
  margin: auto;

}

a, a:hover, a:visited{
  text-decoration: none;
}

a:hover{
  background-color: white;
  color: #234B62;
}

.sous-titre {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 15px;
  line-height: 26px;
}

.field {
  margin-top: 35px;
  margin-bottom: 35px;
}

textarea {
  width: 20%;
  height: 75px;
  border-radius: 10px;
}

input{
  width: 20%;
  border-radius: 10px;
  height: 20px;
}

.actions input{
  margin-top: 40px;
  border: 2px solid;
  border-color: white;
  border-radius: 80px;
  background-color: #FF8A66;
  color: white;
  width: 80px;
  text-align: center;
}

.actions input:hover{
  background-color: white;
  color: #234B62;
}
